<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14db8ae7359c884fffc62eb959526562 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_14db8ae7359c884fffc62eb959526562" ></div>
        
</body>
<script>
    
    
            var map_14db8ae7359c884fffc62eb959526562 = L.map(
                "map_14db8ae7359c884fffc62eb959526562",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b42871eebda3faa3c8ca92bb50dc25fd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
            var marker_f126ce71b7cead8d6acbc4b5f94096f4 = L.marker(
                [-5.826789855957031, 144.29600524902344],
                {}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
        var popup_63bc7cbd271ffed37fb7e1493d58ab9a = L.popup({"maxWidth": "100%"});

        
            
                var html_43034643acbffd6b1fbce88ad42f1c30 = $(`<div id="html_43034643acbffd6b1fbce88ad42f1c30" style="width: 100.0%; height: 100.0%;">"Mount Hagen Kagamuga Airport"</div>`)[0];
                popup_63bc7cbd271ffed37fb7e1493d58ab9a.setContent(html_43034643acbffd6b1fbce88ad42f1c30);
            
        

        marker_f126ce71b7cead8d6acbc4b5f94096f4.bindPopup(popup_63bc7cbd271ffed37fb7e1493d58ab9a)
        ;

        
    
    
            var poly_line_48ecacd1b769560be63b6b3fa492cfee = L.polyline(
                [[-3.58383011818, 143.669006348], [-5.826789855957031, 144.29600524902344]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
            var marker_97b53a7b372e1ba52e7156b8670ae2e7 = L.marker(
                [-5.20707988739, 145.789001465],
                {}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
        var popup_479c5c2c5a7b89641139fc73c8328782 = L.popup({"maxWidth": "100%"});

        
            
                var html_15ad84caedd6316db2ddf243b551a4e8 = $(`<div id="html_15ad84caedd6316db2ddf243b551a4e8" style="width: 100.0%; height: 100.0%;">"Madang Airport"</div>`)[0];
                popup_479c5c2c5a7b89641139fc73c8328782.setContent(html_15ad84caedd6316db2ddf243b551a4e8);
            
        

        marker_97b53a7b372e1ba52e7156b8670ae2e7.bindPopup(popup_479c5c2c5a7b89641139fc73c8328782)
        ;

        
    
    
            var poly_line_87c4af56577d716ec72403cddafcbd7c = L.polyline(
                [[-3.58383011818, 143.669006348], [-5.20707988739, 145.789001465]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
            var marker_14104317a37d9a88044bbd587370482a = L.marker(
                [-5.826789855957031, 144.29600524902344],
                {}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
        var popup_d3163ede47dfe4e970c928a7495093a0 = L.popup({"maxWidth": "100%"});

        
            
                var html_3613006ea5fe32e776dc4a4d8f484805 = $(`<div id="html_3613006ea5fe32e776dc4a4d8f484805" style="width: 100.0%; height: 100.0%;">"Mount Hagen Kagamuga Airport"</div>`)[0];
                popup_d3163ede47dfe4e970c928a7495093a0.setContent(html_3613006ea5fe32e776dc4a4d8f484805);
            
        

        marker_14104317a37d9a88044bbd587370482a.bindPopup(popup_d3163ede47dfe4e970c928a7495093a0)
        ;

        
    
    
            var poly_line_272f28052d65155f67ac00af27dacb0a = L.polyline(
                [[-3.58383011818, 143.669006348], [-5.826789855957031, 144.29600524902344]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
            var marker_92f122294e01d0a77fedc700f1f8eb1b = L.marker(
                [-5.20707988739, 145.789001465],
                {}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
        var popup_59a1a2d86973e5053be0c52694481cd0 = L.popup({"maxWidth": "100%"});

        
            
                var html_5644b99078c7b98a6082cc2b1a625464 = $(`<div id="html_5644b99078c7b98a6082cc2b1a625464" style="width: 100.0%; height: 100.0%;">"Madang Airport"</div>`)[0];
                popup_59a1a2d86973e5053be0c52694481cd0.setContent(html_5644b99078c7b98a6082cc2b1a625464);
            
        

        marker_92f122294e01d0a77fedc700f1f8eb1b.bindPopup(popup_59a1a2d86973e5053be0c52694481cd0)
        ;

        
    
    
            var poly_line_7ac916cbd3a617671a2bb56ce728174a = L.polyline(
                [[-3.58383011818, 143.669006348], [-5.20707988739, 145.789001465]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
            var marker_3b25215fe3b31cde4d1eee6db3d6aa0c = L.marker(
                [-9.443380355834961, 147.22000122070312],
                {}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
        var popup_b0be70e32067079de029ef90bc031e21 = L.popup({"maxWidth": "100%"});

        
            
                var html_ee8b98130dcb5a2f551a9db9edcfa0c0 = $(`<div id="html_ee8b98130dcb5a2f551a9db9edcfa0c0" style="width: 100.0%; height: 100.0%;">"Port Moresby Jacksons International Airport"</div>`)[0];
                popup_b0be70e32067079de029ef90bc031e21.setContent(html_ee8b98130dcb5a2f551a9db9edcfa0c0);
            
        

        marker_3b25215fe3b31cde4d1eee6db3d6aa0c.bindPopup(popup_b0be70e32067079de029ef90bc031e21)
        ;

        
    
    
            var poly_line_a524bd4a4b9443c3e14b87102f5d369c = L.polyline(
                [[-3.58383011818, 143.669006348], [-9.443380355834961, 147.22000122070312]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
            var marker_01af086110b8512b5531b78df7e5ad2f = L.marker(
                [-2.6926, 141.3028],
                {}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
    
        var popup_874d2f114b91c038fee41b06c91c2961 = L.popup({"maxWidth": "100%"});

        
            
                var html_b2195e1ab44851fa17d286044c0d2ebc = $(`<div id="html_b2195e1ab44851fa17d286044c0d2ebc" style="width: 100.0%; height: 100.0%;">"Vanimo Airport"</div>`)[0];
                popup_874d2f114b91c038fee41b06c91c2961.setContent(html_b2195e1ab44851fa17d286044c0d2ebc);
            
        

        marker_01af086110b8512b5531b78df7e5ad2f.bindPopup(popup_874d2f114b91c038fee41b06c91c2961)
        ;

        
    
    
            var poly_line_b2377de9d4134a5e25e50086af248bec = L.polyline(
                [[-3.58383011818, 143.669006348], [-2.6926, 141.3028]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_14db8ae7359c884fffc62eb959526562);
        
</script>
</html>