<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0c4e34ed3d98e05bb3a45ed91b761263 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_0c4e34ed3d98e05bb3a45ed91b761263" ></div>
        
</body>
<script>
    
    
            var map_0c4e34ed3d98e05bb3a45ed91b761263 = L.map(
                "map_0c4e34ed3d98e05bb3a45ed91b761263",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_52cffbfa2929540390938c092b034c32 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
    
            var marker_89511de3bc37b67e7c687d68253b8bfb = L.marker(
                [40.692501068115234, -74.168701171875],
                {}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
    
        var popup_d1e8c8730549d8be2ab5a050eb58852a = L.popup({"maxWidth": "100%"});

        
            
                var html_ec942094c821948f2db6f320a64ac9cb = $(`<div id="html_ec942094c821948f2db6f320a64ac9cb" style="width: 100.0%; height: 100.0%;">"Newark Liberty International Airport"</div>`)[0];
                popup_d1e8c8730549d8be2ab5a050eb58852a.setContent(html_ec942094c821948f2db6f320a64ac9cb);
            
        

        marker_89511de3bc37b67e7c687d68253b8bfb.bindPopup(popup_d1e8c8730549d8be2ab5a050eb58852a)
        ;

        
    
    
            var poly_line_163bd79fc778dc7460b07d3a3941f6a2 = L.polyline(
                [[40.692501068115234, -74.168701171875], [22.308901, 113.915001]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
    
            var marker_d640e42d13265e552e850b2a4d49eb2f = L.marker(
                [22.308901, 113.915001],
                {}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
    
        var popup_e19d27e0ff94241c9a45e3a29194f333 = L.popup({"maxWidth": "100%"});

        
            
                var html_1be68c681193463694518cf69839978b = $(`<div id="html_1be68c681193463694518cf69839978b" style="width: 100.0%; height: 100.0%;">"Hong Kong International Airport"</div>`)[0];
                popup_e19d27e0ff94241c9a45e3a29194f333.setContent(html_1be68c681193463694518cf69839978b);
            
        

        marker_d640e42d13265e552e850b2a4d49eb2f.bindPopup(popup_e19d27e0ff94241c9a45e3a29194f333)
        ;

        
    
    
            var poly_line_5bfa841d699493f4839c7a66ad3d0bc1 = L.polyline(
                [[22.308901, 113.915001], [-9.443380355834961, 147.22000122070312]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
    
            var marker_660daa761c284afba767f10c96fedc17 = L.marker(
                [-9.443380355834961, 147.22000122070312],
                {}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
    
        var popup_5f09132ec568312fbcd793fb8e2aa3d9 = L.popup({"maxWidth": "100%"});

        
            
                var html_aacc0ae7cc1463396d1a798bb87353bd = $(`<div id="html_aacc0ae7cc1463396d1a798bb87353bd" style="width: 100.0%; height: 100.0%;">"Port Moresby Jacksons International Airport"</div>`)[0];
                popup_5f09132ec568312fbcd793fb8e2aa3d9.setContent(html_aacc0ae7cc1463396d1a798bb87353bd);
            
        

        marker_660daa761c284afba767f10c96fedc17.bindPopup(popup_5f09132ec568312fbcd793fb8e2aa3d9)
        ;

        
    
    
            var poly_line_24d6a4269373317d488b176585c12b8b = L.polyline(
                [[-9.443380355834961, 147.22000122070312], [-3.58383011818, 143.669006348]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_0c4e34ed3d98e05bb3a45ed91b761263);
        
</script>
</html>