<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6bee7f689c186f9bba76eef4098893b6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6bee7f689c186f9bba76eef4098893b6" ></div>
        
</body>
<script>
    
    
            var map_6bee7f689c186f9bba76eef4098893b6 = L.map(
                "map_6bee7f689c186f9bba76eef4098893b6",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_70c2375f3c355053527d9eb42ebee4ff = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
    
            var marker_e867ba4063c3f2a7e5c16840d58f49e5 = L.marker(
                [40.692501068115234, -74.168701171875],
                {}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
    
        var popup_c850dd19733d7494897ea74fed8a3a03 = L.popup({"maxWidth": "100%"});

        
            
                var html_0f56ba656122f6a3e87b51a4146e50e3 = $(`<div id="html_0f56ba656122f6a3e87b51a4146e50e3" style="width: 100.0%; height: 100.0%;">"Newark Liberty International Airport"</div>`)[0];
                popup_c850dd19733d7494897ea74fed8a3a03.setContent(html_0f56ba656122f6a3e87b51a4146e50e3);
            
        

        marker_e867ba4063c3f2a7e5c16840d58f49e5.bindPopup(popup_c850dd19733d7494897ea74fed8a3a03)
        ;

        
    
    
            var poly_line_67aaf573d1a9a54dc5b819158674213d = L.polyline(
                [[40.692501068115234, -74.168701171875], [22.308901, 113.915001]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
    
            var marker_1331cebc847b13d7e3697f01cf7ea6f7 = L.marker(
                [22.308901, 113.915001],
                {}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
    
        var popup_0874f4f540b0eae2575058820e4278ff = L.popup({"maxWidth": "100%"});

        
            
                var html_49ebcd96421e21cfd6d7a61b11e4c093 = $(`<div id="html_49ebcd96421e21cfd6d7a61b11e4c093" style="width: 100.0%; height: 100.0%;">"Hong Kong International Airport"</div>`)[0];
                popup_0874f4f540b0eae2575058820e4278ff.setContent(html_49ebcd96421e21cfd6d7a61b11e4c093);
            
        

        marker_1331cebc847b13d7e3697f01cf7ea6f7.bindPopup(popup_0874f4f540b0eae2575058820e4278ff)
        ;

        
    
    
            var poly_line_9f6bdcb1a6f032c3cb4f58b278905905 = L.polyline(
                [[22.308901, 113.915001], [-9.443380355834961, 147.22000122070312]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
    
            var marker_465826575319a89d978bcde49cd9e9ad = L.marker(
                [-9.443380355834961, 147.22000122070312],
                {}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
    
        var popup_9ec78385a08c49d4aea746e8e26e305e = L.popup({"maxWidth": "100%"});

        
            
                var html_5d27da1d7fd708634d52fa5bfc93eed7 = $(`<div id="html_5d27da1d7fd708634d52fa5bfc93eed7" style="width: 100.0%; height: 100.0%;">"Port Moresby Jacksons International Airport"</div>`)[0];
                popup_9ec78385a08c49d4aea746e8e26e305e.setContent(html_5d27da1d7fd708634d52fa5bfc93eed7);
            
        

        marker_465826575319a89d978bcde49cd9e9ad.bindPopup(popup_9ec78385a08c49d4aea746e8e26e305e)
        ;

        
    
    
            var poly_line_aad0788261df42055886563a59c09b00 = L.polyline(
                [[-9.443380355834961, 147.22000122070312], [-3.58383011818, 143.669006348]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_6bee7f689c186f9bba76eef4098893b6);
        
</script>
</html>