<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1c9ba1905d8fc982036053659f9aa9af {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1c9ba1905d8fc982036053659f9aa9af" ></div>
        
</body>
<script>
    
    
            var map_1c9ba1905d8fc982036053659f9aa9af = L.map(
                "map_1c9ba1905d8fc982036053659f9aa9af",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_746ce129881d9e9264020e3c7e39ba9e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
            var marker_37267925762223c354f98dd6c85e30d3 = L.marker(
                [15.3808002472, 73.8313980103],
                {}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
        var popup_78642da5eebff7ee836070e403984fe7 = L.popup({"maxWidth": "100%"});

        
            
                var html_69aaea6c110d45f47122f46a6d6ec2cf = $(`<div id="html_69aaea6c110d45f47122f46a6d6ec2cf" style="width: 100.0%; height: 100.0%;">"Dabolim Airport"</div>`)[0];
                popup_78642da5eebff7ee836070e403984fe7.setContent(html_69aaea6c110d45f47122f46a6d6ec2cf);
            
        

        marker_37267925762223c354f98dd6c85e30d3.bindPopup(popup_78642da5eebff7ee836070e403984fe7)
        ;

        
    
    
            var poly_line_c2a2632c50ea1c4601701b4a7d1b781f = L.polyline(
                [[15.3808002472, 73.8313980103], [23.0771999359, 72.63469696039999]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
            var marker_a074118367271ccb5603896c48b7ad58 = L.marker(
                [23.0771999359, 72.63469696039999],
                {}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
        var popup_0eb3ece7cf37e4a5f0f1b587f7d9863a = L.popup({"maxWidth": "100%"});

        
            
                var html_c7445c265d9c298b8b272a86e8d740aa = $(`<div id="html_c7445c265d9c298b8b272a86e8d740aa" style="width: 100.0%; height: 100.0%;">"Sardar Vallabhbhai Patel International Airport"</div>`)[0];
                popup_0eb3ece7cf37e4a5f0f1b587f7d9863a.setContent(html_c7445c265d9c298b8b272a86e8d740aa);
            
        

        marker_a074118367271ccb5603896c48b7ad58.bindPopup(popup_0eb3ece7cf37e4a5f0f1b587f7d9863a)
        ;

        
    
    
            var poly_line_0be1f892df781c93b6dce954506d64d0 = L.polyline(
                [[23.0771999359, 72.63469696039999], [1.35019, 103.994003]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
            var marker_3d53c69a4beabccf15f4eaa0844874a9 = L.marker(
                [1.35019, 103.994003],
                {}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
        var popup_a9fe339f157f8097ed149297d5ace09e = L.popup({"maxWidth": "100%"});

        
            
                var html_72cdfb0bc3a122f47ddd5c844464bf2b = $(`<div id="html_72cdfb0bc3a122f47ddd5c844464bf2b" style="width: 100.0%; height: 100.0%;">"Singapore Changi Airport"</div>`)[0];
                popup_a9fe339f157f8097ed149297d5ace09e.setContent(html_72cdfb0bc3a122f47ddd5c844464bf2b);
            
        

        marker_3d53c69a4beabccf15f4eaa0844874a9.bindPopup(popup_a9fe339f157f8097ed149297d5ace09e)
        ;

        
    
    
            var poly_line_b6b53f87cd9a719ab2f4e0d6c2d33d0a = L.polyline(
                [[1.35019, 103.994003], [-9.443380355834961, 147.22000122070312]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
            var marker_d6d34eb12fb592ec5e590280c2caed39 = L.marker(
                [-9.443380355834961, 147.22000122070312],
                {}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
    
        var popup_010adb605778a31a9aa383c14f2f5954 = L.popup({"maxWidth": "100%"});

        
            
                var html_9f8b3cee9af331665d26cd022692b574 = $(`<div id="html_9f8b3cee9af331665d26cd022692b574" style="width: 100.0%; height: 100.0%;">"Port Moresby Jacksons International Airport"</div>`)[0];
                popup_010adb605778a31a9aa383c14f2f5954.setContent(html_9f8b3cee9af331665d26cd022692b574);
            
        

        marker_d6d34eb12fb592ec5e590280c2caed39.bindPopup(popup_010adb605778a31a9aa383c14f2f5954)
        ;

        
    
    
            var poly_line_bde84ae6b16e845721cd2240fb737c4f = L.polyline(
                [[-9.443380355834961, 147.22000122070312], [-3.58383011818, 143.669006348]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 1.5}
            ).addTo(map_1c9ba1905d8fc982036053659f9aa9af);
        
</script>
</html>